<!DOCTYPE html>
<html>
<head>
  <title>Cwk::Gem</title>
  <%= stylesheet_link_tag    "cwk_gem/application", :media => "all" %>
  <%= javascript_include_tag "cwk_gem/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
